:root {
	--nav-bg: #406882;
	--white: #ffffff;
}
body {
	min-height: 100vh;
	background-color: #f4f9f9;
}
.uk-logo,
.uk-logo:hover,
.uk-navbar-toggle {
	color: white;
}
.uk-navbar-left {
	width: 50%;
}
.nav-header {
	background-color: var(--nav-bg);
	position: sticky;
	top: 0;
	z-index: 100;
}
nav ul {
	display: none;
	flex-direction: column;
	gap: 0.5em;
	position: absolute;
	top: 100%;
	right: 0;
	left: 0;
	background: inherit !important;
	z-index: 100;
}
nav ul a {
	color: white;
	font-size: 0.9rem;
}
.uk-navbar-container {
	background: inherit !important;
}

.share-gist-box {
	background-color: #6d8299;
	padding: 0.5em;
	color: #fff;
}
.share-gist-box i {
	background-color: #fbfbfb;
	padding: 0.5em;
	color: initial;
}
.login-form,
.register-form {
	background-color: #e1e8eb;
}
.login-form-button,
.register-form-button,
.create-gist-button,
.edit-profile-button {
	background-color: #125d98;
	color: #fff;
	text-transform: capitalize;
}
section.index-section {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	padding: 5vh 0.5em;
}
div.summary {
	max-width: 55ch;
}
div.auth-links {
	margin-top: 2em;
}
.index-login-btn a,
.index-register-btn a {
	background-color: #79a9d1;
	padding: 0.7em 1em;
	border-radius: 5px;
	color: #ffffff;
}
div.profile-image img {
	width: 60px;
	height: 60px;
}
div.article-title h3,
div.username-and-date h4 {
	font-size: 1.25rem;
}
div.article-title p {
	line-height: 1.75;
}
.current_gist h1 {
	font-size: 2rem;
}
/*  Profile Page */
div.user-profile-image img {
	width: 125px;
	height: auto;
}

/* a quick tweak to reduce padding size of checkbok on login form */
.uk-checkbox.uk-padding-small {
	padding: 0.6em;
	background-color: #fff;
	border-color: #8fccef;
}

/* Create gist section */
.uk-textarea {
	min-height: 175px;
	resize: none;
}
/* RESPONSIVE MEDIA QUERIES
======================================================= */
@media (min-width: 400px) {
	nav {
		padding: 0 0.5em;
	}
}
@media (min-width: 576px) {
}
@media (min-width: 768px) {
	nav {
		padding: 0 5vw;
	}
	nav ul {
		display: flex;
		flex-direction: row;
		justify-content: flex-end;
		gap: 1.5em;
		position: static;
		background-color: inherit;
	}
	nav li a:hover {
		color: silver;
	}
	.login-form,
	.register-form {
		padding: 1.5em 3em;
	}
	section.index-section {
		min-height: 75vh;
		flex-direction: row;
		justify-content: center;
		align-items: center;
	}
}
@media (min-width: 992px) {
	nav {
		padding: 0 10vw;
	}
}
@media (min-width: 1200px) {
}
