{% extends "base.html" %}

{% block main %}
  <section class="uk-margin-small-top uk-width-3-4@s uk-width-1-2@m
        uk-margin-auto uk-box-shadow-large uk-border-rounded">
    <form action="" method="POST" class="create-gist-form uk-padding-small">
      <fieldset class="uk-fieldset">
        {{ form.hidden_tag() }}
        <legend class="uk-legend uk-text-bold">New Gist</legend>

        <div class="uk-margin">
          {{ form.gist_title.label(class="uk-form-label") }}
          {{ form.gist_title(class="uk-input uk-border-rounded", placeholder="A Sweet Title") }}
        </div>

        <div class="uk-margin">
          {{ form.gist_content(class="uk-textarea uk-border-rounded", placeholder="Mary is in love!") }}
        </div>

        <div class="uk-margin">
          {{ form.submit(class="uk-button uk-border-rounded uk-text-bold create-gist-button") }}
        </div>
      </fieldset>
    </form>
  </section>
{% endblock main %}
