{% extends "base.html" %} {% import 'macros.html' as macros %} {% block main %}
<section class="user-profile uk-margin-small-top uk-width-2-3@s uk-width-1-2@m uk-margin-auto">
	<form action="" method="POST" enctype="multipart/form-data" class="uk-padding-small">
		{{ form.hidden_tag() }}
		<fieldset class="uk-fieldset">
			<legend class="uk-legend uk-text-bold">Edit Your Profile</legend>

			<!-- User's profile image -->
			<div
				class="user-profile-image uk-padding-small uk-padding-remove-left uk-flex uk-flex-middle"
			>
				<img
					src="{{ current_user.profile_avatar(128) }}"
					alt=""
					class="uk-border-pill"
					loading="lazy"
				/>

				<!--           <div class="change-picture uk-margin-small-left">
            <input type="file">
          </div> -->
			</div>
			<hr class="uk-margin-remove" />

			<div class="uk-margin">
				{{ form.fullname.label(class="uk-form-label") }} {{ form.fullname(class="uk-input
				uk-border-rounded", placeholder="John Doe") }} {{ macros.display_form_errors(form.fullname)
				}}
			</div>

			<div class="uk-margin">
				{{ form.username.label(class="uk-form-label") }} {{ form.username(class="uk-input
				uk-border-rounded", placeholder="johndoe") }} {{ macros.display_form_errors(form.username)
				}}
			</div>

			<div class="uk-margin">
				{{ form.email.label(class="uk-form-label") }} {{ form.email(class="uk-input
				uk-border-rounded", placeholder="johndoe") }} {{ macros.display_form_errors(form.email) }}
			</div>

			<div class="uk-margin">
				{{ form.institutions.label(class="uk-form-label") }} {{ form.institutions(class="uk-select
				uk-border-rounded", placeholder="johndoe") }} {{
				macros.display_form_errors(form.institutions) }}
			</div>

			<div class="uk-margin">
				{{ form.bio.label(class="uk-form-label") }} {{ form.bio(class="uk-textarea
				uk-border-rounded", placeholder="johndoe") }} {{ macros.display_form_errors(form.bio) }}
			</div>

			<div class="uk-margin">
				{{ form.submit(class="uk-button uk-border-rounded uk-text-bold edit-profile-button") }}
			</div>
		</fieldset>
	</form>

	<hr class="uk-horizontal-divider uk-margin-remove" />
	<div class="delete-account uk-padding uk-text-right uk-flex uk-flex-middle uk-flex-center">
		Click here to delete your account...
		<button
			class="uk-button uk-button-danger uk-button-small uk-border-rounded uk-text-capitalize"
			uk-toggle="target: #delete-account-modal"
		>
			Delete Account
		</button>
	</div>

	<div id="delete-account-modal" uk-modal>
		<div class="uk-modal-dialog uk-modal-body">
			<h3 class="uk-modal-title uk-text-small">Delete Account?</h3>
			<p class="uk-text-right">
				<button
					class="uk-button uk-button-default uk-modal-close uk-text-capitalize uk-button-small uk-border-rounded"
				>
					No
				</button>
				<a
					href="{{ url_for('delete_account', user=current_user) }}"
					class="uk-button uk-button-danger uk-button-small uk-text-bold uk-text-capitalize uk-border-rounded"
					>Yes</a
				>
			</p>
		</div>
	</div>
</section>
{% endblock main %}
