{% extends "base.html" %}

{% block main %}
  <section class="uk-margin-large-top uk-width-3-4@s uk-width-1-2@m uk-margin-auto uk-box-shadow-large">
    <form action="" method="POST" class="login-form uk-padding-small uk-border-rounded">
      <fieldset class="uk-fieldset">
        <legend class="uk-legend uk-text-bold">Login</legend>

        <div class="uk-margin">
          {{ form.username.label(class="uk-form-label") }}
          {{ form.username(class="uk-input uk-input uk-border-rounded", placeholder="johndoe") }}
        </div>

        <div class="uk-margin">
          {{ form.password.label(class="uk-form-label") }}
          {{ form.password(class="uk-input uk-border-rounded", placeholder="********") }}
        </div>

        <div class="uk-margin">
          {{ form.submit(class="uk-button uk-border-rounded uk-text-bold login-form-button") }}
        </div>
      </fieldset>
    </form>
  </section>
{% endblock main %}
