{% extends "base.html" %}

{% block main %}
  <section class="user-profile uk-margin-small-top uk-width-2-3@s uk-width-1-2@m uk-margin-auto">
    <!-- User's profile image -->
    <div class="user-profile-image uk-padding-small uk-padding-remove-left uk-flex uk-flex-middle">
      <img src="{{ current_user.profile_avatar(128) }}" alt="" class="uk-border-pill" loading="lazy">
      <!-- User's name, email, username and Institution -->
      <div class="user-name uk-margin-small-left">
        <h3 class="uk-margin-remove uk-text-bold">{{ user.fullname }}</h3>
        <p class="uk-margin-remove uk-text-meta">@{{ user.username }}</p>
        <p class="uk-margin-small uk-text-meta">{{ user.email }}</p>
        {% if current_user.username == user.username %}
        <!-- edit profile link -->
        <p class="uk-margin-remove uk-text-small">
          <a href="{{ url_for('edit_profile_page') }}">Edit Profile</a>
        </p>
        {% endif %}
      </div>
    </div>
    <hr class="uk-margin-remove">
    <!-- User Bio and Institution -->
    <div class="user-bio">
      <p class="bio">{{ user.bio }}</p>
      <p class="uk-margin-small uk-text-meta">Attends: <b>{{ user.institutions }}</b></p>
      <p class="uk-margin-small uk-text-meta">Joined on: {{ user.joined_on }}</p>
    </div>
    <hr class="uk-margin-remove">
    <!-- Display all the Gist of current student -->
    <article class="all-user-gists uk-margin-small-top">
      {% for gist in gists %}
      <section class="uk-padding-small uk-card uk-card-hover uk-margin-small-top uk-box-shadow-medium">
        <h3 class="uk-margin-small">
          <a href="{{ url_for('current_gist', gist_id=gist.id) }}">{{ gist.gist_title }}</a>
        </h3>
        <p class="uk-text-muted uk-text-small uk-text">{{ gist.gist_content | truncate(125) }}</p>
      <div class="comments-and-date uk-flex uk-flex-between uk-flex-middle uk-padding-remove uk-margin-remove">
        <span class="uk-text-meta uk-text-italic">{{ gist.date_posted }}</span>
        <span class="uk-text-meta uk-text-italic">
          <i uk-icon="comments"></i> {0}
        </span>
      </div>
      </section>
      {% endfor %}
    </article>
  </section>
{% endblock main %}
