{% extends "base.html" %}

{% block main %}
  <section class="uk-margin-top uk-width-3-4@s uk-width-1-2@m uk-margin-auto uk-box-shadow-large">
    <form action="" method="POST" class="register-form uk-padding-small uk-border-rounded">
      <fieldset class="uk-fieldset">
        <legend class="uk-legend uk-text-bold">Register</legend>

        <div class="uk-margin">
          {{ form.fullname.label(class="uk-form-label") }}
          {{ form.fullname(class="uk-input uk-border-rounded", placeholder="John Doe") }}
        </div>

        <div class="uk-margin">
          {{ form.username.label(class="uk-form-label") }}
          {{ form.username(class="uk-input uk-border-rounded", placeholder="johndoe") }}
        </div>

        <div class="uk-margin">
          {{ form.email.label(class="uk-form-label") }}
          {{ form.email(class="uk-input uk-border-rounded", placeholder="johndoe@mail.com") }}
        </div>

        <div class="uk-margin">
          {{ form.instututions.label(class="uk-form-label") }}
          {{ form.instututions(class="uk-select uk-border-rounded") }}
        </div>

        <div class="uk-margin">
          {{ form.password.label(class="uk-form-label") }}
          {{ form.password(class="uk-input uk-border-rounded", placeholder="********") }}
        </div>

        <div class="uk-margin">
          {{ form.confirm_password.label(class="uk-form-label") }}
          {{ form.confirm_password(class="uk-input uk-border-rounded", placeholder="********") }}
        </div>

        <div class="uk-margin">
          {{ form.submit(class="uk-button uk-border-rounded uk-text-bold register-form-button") }}
        </div>
      </fieldset>
    </form>
  </section>
{% endblock main %}
