<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Campus Gist</title>
  <!-- Favicon -->
  <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
  <!-- UIkit CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.9.4/dist/css/uikit.min.css" />
  <!-- UIkit JS -->
  <script src="https://cdn.jsdelivr.net/npm/uikit@3.9.4/dist/js/uikit.min.js" defer></script>
  <!-- UIkit Icons -->
  <script src="https://cdn.jsdelivr.net/npm/uikit@3.9.4/dist/js/uikit-icons.min.js" defer></script>
  <!-- Custom CSS -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
  <!-- Custom JS -->
  <script src="{{ url_for('static', filename='js/main.js') }}" defer></script>
</head>

<body>
  <header class="nav-header uk-box-shadow-small">
    <nav class="uk-navbar-container uk-flex-middle" uk-navbar>
      <!-- Navbar/Brand Logo -->
      <div class="uk-navbar-left">
        <a class="uk-navbar-item uk-logo uk-text-bold" href="{{ url_for('index_page') }}">Campus Gist</a>
      </div>
      <!-- Navigation items -->
      <ul class="uk-nav uk-padding-small uk-width-1-1">
        <li class=""><a href="{{ url_for('index_page') }}"><i class="" uk-icon="home"></i>Home</a></li>
        <li class=""><a href="{{ url_for('show_all_gists') }}"><i class="" uk-icon="info"></i>Gists</a></li>
        {% if 2 < 1 %}
          <li><a href="{{ url_for('create_gist_page') }}"><i class="" uk-icon="pencil"></i>New Gist</a></li>
          <li><a href=""><i class="" uk-icon="cog"></i>Account</a></li>
          <li><a href=""><i class="" uk-icon="sign-out"></i>Logout</a></li>
        {% else %}
          <li><a href="{{ url_for('login_page') }}"><i class="" uk-icon="sign-in"></i>Login</a></li>
          <li><a href="{{ url_for('register_page') }}"><i class="" uk-icon="pencil"></i>Register</a></li>
        {% endif %}
      </ul>
      <!-- Navbar toggle icon -->
      <div class="uk-navbar-right burger uk-hidden@s">
        <span class="uk-navbar-toggle">
          Menu <i uk-navbar-toggle-icon></i>
        </span>
      </div>
    </nav>
  </header>

  <!-- Display flash messages -->
  {% with messages = get_flashed_messages(with_categories=True) %}
    {% if messages %}
      <div class="uk-margin-remove uk-container">
        {% for category, message in messages %}
          <div class="uk-alert-{{ category }} uk-margin-remove" uk-alert>
            <a class="uk-alert-close" uk-close></a>
            <p>{{ message }}</p>
          </div>
        {% endfor %}
      </div>
    {% endif %}
  {% endwith %}
  <!-- End flash messages -->

  <main class="uk-container">
    {% block main %}{% endblock main %}
  </main>
</body>
</html>
