{% extends "base.html" %} {% block main %}
<div class="breadcrumbs uk-padding-small">
	<ul class="uk-breadcrumb">
		<li><a href="{{ url_for('index_page') }}">Home</a></li>
		<li><a href="{{ url_for('show_all_gists') }}">Gists</a></li>
		<li class="uk-disabled"><a>{{ gist.gist_title }}</a></li>
	</ul>
</div>

<article class="current_gist uk-padding-small uk-width-3-4@s uk-width-2-3@m">
	<h1 class="uk-margin-small uk-text-bold">{{ gist.gist_title }}</h1>
	<!-- Article header -->
	<hr class="uk-margin-small" />
	<div class="uk-flex uk-flex-middle">
		<div class="profile-image">
			<img
				src="{{ gist.student.profile_avatar() }}"
				width="60"
				height="60"
				alt="profile-image"
				class="uk-border-circle"
			/>
		</div>
		<div class="username-and-date uk-margin-small-left">
			<h3 class="uk-margin-remove-bottom">
				<a href="{{ url_for('profile_page', username=gist.student.username) }}">
					{{ gist.student.fullname }}</a
				>
			</h3>
			<p class="uk-margin-remove uk-text-italic uk-text-meta">shared on {{ gist.date_posted }}</p>
		</div>
	</div>
	<hr class="uk-margin-small" />

	<!-- Article content -->
	<section class="article-content uk-margin-top">
		<div class="uk-margin-remove">{{ gist.gist_content }}</div>
		<hr class="uk-horizontal-divider uk-margin-remove-bottom" />
		<span class="uk-text-right uk-text-meta uk-margin-small-top uk-display-block uk-text-italic">
			<i uk-icon="comments"></i> {0} comments
		</span>
	</section>
</article>
{% endblock main %}
